body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 0;
    background-color: #f0f0f0; /* Hafif gri arkaplan */
}

#sidebar {
    background-color: #1680FF !important;
    color: white;
    height: 100vh;
    position: fixed;
    width: 300px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: bold;
    background-color: #303f9f;
    border: 2px solid #303f9f;
    margin: 5px 0;
    padding: 10px;
}

.nav-link:hover {
    background-color: #3f51b5;
}

.submenu {
    display: none;
    padding-left: 15px;
}

.submenu a {
    color: white !important;
}

.submenu a:hover {
    text-decoration: underline;
}

.nav-item img {
    margin: 10px 0;
    border: none;
}

.nav-item:first-child .nav-link {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin-left: 0px;
    padding-left: 12px;
}

#content {
    overflow-x: auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    margin-left: 0px;
    margin-right: auto;
}

.table-container {
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: auto; /* Otomatik tablo düzeni */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 16px;
    white-space: normal; /* Normal satır sonu */
    word-wrap: break-word; /* Uzun kelimeleri kır */
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

button {
    font-size: 12px;
    padding: 6px 10px;
    margin: 3px;
}

.table-row-odd {
    background-color: #f9f9f9;
}

.table-row-even {
    background-color: #ffffff;
}

.ml-20 {
    margin-left: 20px;
}

.action-buttons {
    display: flex;
    flex-wrap: wrap; /* Butonların satır içinde taşmasını önler */
}

.delete-button {
    margin-right: 10px; /* Sil butonu ile Düzenle butonu arasına boşluk ekler */
}

/* Özel genişlik ayarları */
.kayit-tarih {
    width: 150px; /* Kayıt tarih hücresi için özel genişlik */
}

.profil {
    width: 230px; /* Profil hücresi için özel genişlik */
}

.form-background {
    background-color: #f8f9fa; /* Arka plan rengini buradan ayarlayın */
    padding: 20px; /* Formun iç boşluğunu artırır */
}

.card-background {
    background-color: #e9ecef; /* Kartların arka plan rengini buradan ayarlayın */
}


